<div class='container'>
  <div class='row col-lg-4 col-lg-offset-4'>
    <br><br>
    <h2>Blog it!</h2>
    <br><br>
    <form method='POST' action='/blog/add'>
      <fieldset class="form-group">
        <label for="username">Username</label>
        <input type="text" name='username' class="form-control" id="username" placeholder="Enter Username">
      </fieldset>
      <fieldset class="form-group">
        <label for="title">Title for blogPost</label>
        <input type="text" name='title' class="form-control" id="title" placeholder="Enter Title">
      </fieldset>
      <fieldset class="form-group">
        <label for="content">Post Content</label>
        <textarea class="form-control" name='content' id="description" rows="3"></textarea>
      </fieldset>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <br><br>
  </div>
</div>
